@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.fc-time,
.fc-title {
  padding: 0 1px;
  white-space: normal;
}

.new-apt-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
